@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary--blue: #83B5C0;
}

*::before, ::after { 
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.login-container {
    text-align: center;
    font-size: 15px;
    margin-top: -.5em;
    text-decoration: underline;
}

.login-container p a:hover {
    color: #a5d7e2;
}

h1 {
    margin-top: -5px;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Varela Round' , sans-serif;
}

.left p {
    font-size: 2rem;
    font-weight: normal;
    margin-top: -4rem;
    font-family: 'Poppins';
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1.5rem;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--primary--blue);
}

a:hover {
    text-decoration: underline;
}

.fgot {
    font-size: 12px;
    margin-top: -12px;
}

.small {
    font-size: 80%;
    text-align: center;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left {
    height: 450px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.left {
    background-image:  url(images/wallpaper.png);
    background-size: cover;
}

.left .copy {
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left p {
    font-weight: 400;
}

.right .copy {
    color: #000;
    text-align: center;
    margin: 3em 0;
}

.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.right form {
    width: 328px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    background-color: #f4f6fa;
}

label:after {
      content: " *";
      color: red;	
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.input-container .password {
    position: relative;
}

.login-btn { 
    display: block;
    width: 100%;
    background: var(--primary--blue);
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 2em;
    transition: .2s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-btn:hover {
    cursor: pointer;
    background: #a5d7e2;
}

.choice {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px 0;
    font-weight: 200;
    font-size: 16px;
}

.choice p {
    padding: 0 7px;
}

.choice span {
   display:block;
   width:5%; /*or whatever width you want the effect of <hr>*/
   border-top: 1px solid;
   border-radius: 8px;
}

.facebook-btn {
    margin-left: 0;
    width: 100%;
    padding: 12px;
    background-color: #3B5998;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .google-btn {
    margin-left: 0;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }

 .fb {
    color: white;
  }

  .g {
   color: #000;   
  }
  
  
 .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .sign-up {
      display: none;
  }

@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }

    .left, .right {
        display: flex;
        width: 50%;
        height: 663px;
    }

  

}

@media screen and (max-width: 400px) {
   
    h1 {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Varela Round' , sans-serif;
    }
    
    .left p {
        margin-top: -1rem;
        font-size: 15px;
        font-weight: normal;
        font-family: 'Poppins';
    }
}

.showpwd {
    position: relative;
    z-index: 1;
    float: right;
    margin-right: 20px;
    margin-top: -3.2rem;
    cursor: pointer;
    opacity: 0.5;
}





















